#give-kindness-manager-edit-campaign-menu,
#give_kindness_manager-edit-campaign,
#give_kindness_manager-form-template,
#give_kindness_manager-donation-options,
#give_kindness_manager-campaign-settings {
  display: none;
}

.give_kindness_manager-inline-block {
  display: flex;
  flex-direction: row;
}

.give_kindness_manager-inline-block
  .give-donor-dashboard-radio-control__option {
  margin-right: 20px !important;
}

.give_kindness_manager-inline-block
  .give-donor-dashboard-radio-control__option:first-of-type {
  margin-top: 10px !important;
}

.gkm-uploader,
.gk-uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
}

.gkm-uploader label,
.gk-uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 1rem 0.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.gkm-uploader label:hover,
.gk-uploader label:hover {
  border-color: #4fa651;
  border: 3px solid #4fa651;
  box-shadow: inset 0 0 0 6px #eee;
}

.gkm-uploader label.hover #gkm-start i.fa,
.gk-uploader label.hover #gk-start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}

.gk-uploader #gkm-start,
.gk-uploader #gk-start {
  float: left;
  clear: both;
  width: 100%;
}

.gkm-uploader #gkm-start.hidden,
.gk-uploader #gk-start.hidden {
  display: none;
}

.gkm-uploader #gkm-start i.fa,
.gk-uploader #gk-start i.fa {
  font-size: 20px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

.gkm-uploader #gkm-response,
.gk-uploader #gk-response {
  float: left;
  clear: both;
  width: 100%;
}

.gkm-uploader #gkm-response.gkm-hidden,
.gk-uploader #gk-response.gk-hidden {
  display: none;
}

.gkm-uploader #gkm-response #gkm-messages,
.gk-uploader #gk-response #gk-messages {
  margin-bottom: 0.5rem;
}

.gkm-uploader #gkm-file-image,
.gk-uploader #gk-file-image {
  display: inline;
  margin: 0 auto 0.5rem auto;
  width: auto;
  height: auto;
  max-width: 150px;
}

.gkm-uploader #gkm-file-image.gkm-hidden,
.gk-uploader #gk-file-image.gk-hidden {
  display: none;
}

.gkm-uploader #gkm-notimage,
.gk-uploader #gk-notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

.gkm-uploader #gkm-notimage.gkm-hidden,
.gk-uploader #gk-notimage.gk-hidden {
  display: none;
}

.gk-uploader .gkm-progress,
.gk-uploader .gk-progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 150px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}

.gkm-uploader .gkm-progress[value]::-webkit-progress-bar,
.gk-uploader .gk-progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}

.gkm-uploader .gkm-progress[value]::-webkit-progress-value,
.gk-uploader .gk-progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #7ec980 0%, #4fa651 50%);
  border-radius: 4px;
}

.gkm-uploader .gkm-progress[value]::-moz-progress-bar,
.gk-uploader .gk-progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #7ec980 0%, #4fa651 50%);
  border-radius: 4px;
}

.gkm-uploader input[type="file"],
.gk-uploader input[type="file"] {
  display: none;
}

.gkm-uploader div,
.gk-uploader div {
  margin: 0 0 0.5rem 0;
  color: #6b6b6b;
  font-size: 14px;
}

.gkm-uploader .gkm-btn,
.gk-uploader .gk-btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #4fa651;
  border-color: #4fa651;
  cursor: pointer;
}

fieldset {
  border-color: transparent !important;
}

select {
  border-radius: 0 !important;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border-radius: 0 !important;
}

#give_kindness_manager-form-template select,
#give_kindness_manager-donation-options select {
  width: 250px;
}

.give-kindness-manager-hide {
  display: none;
}

.give-kindness-manager-media-items {
  margin: 20px 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: calc(100% - 15px);
}

.give-kindness-manager-media-item {
  margin: 10px 10px 0;
  position: relative;
}

.give-kindness-manager-media-item img {
  width: 150px;
  height: 150px;
}

.give-kindness-manager-media-item-remove {
  position: absolute;
  right: 4px;
  top: 0px;
}

.give-kindness-manager-ring {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
}
.give-kindness-manager-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 4px solid #7ec980;
  border-radius: 50%;
  animation: give-kindness-manager-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1)
    infinite;
  border-color: #7ec980 transparent transparent transparent;
}
.give-kindness-manager-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.give-kindness-manager-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.give-kindness-manager-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes give-kindness-manager-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.give-donor-classic-form,
.give-donor-legacy-form {
  display: none;
}

.give-donor-classic-form,
.give-donor-legacy-form,
.give-donor-multi-step-form {
  position: relative;
}

.gkm-introduction-item,
.gkm-donation-summary-item,
.gkm-thank-you-item,
.gkm-class-ty-sharing-item,
.gkm-legacy-form-item,
.gkm-legacy-continue-item,
.gkm-classic-display-header-item,
.gkm-classic-secure-badge-item {
  display: none;
}
